<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Torneo de campeones</title>
</head>

<body>
    <img src="../images/LogoApp.png" alt="" id="logoapp2">
    <div class="contenedor-torneo">

        <nav class="navegacion2">

            
                <a href="../index.html" class="btn2" >Inicio</a>
            
                <a href="" class="btn2">Nosotros</a>
            
                <a href="formulario.html" class="btn2" >Contacto</a>
            


            
        </nav>

        <h2>Nombre del Torneo</h2>
        <div class="item-torneo">
            <input type="text" name="nomTorneo" id="nomTorneo" maxlength="10"><span class="barra"></span>

            <button>Administrar Torneos</button>
           

        </div>
        <h2>Agregar Equipo</h2>
        <div class="item-torneo">
            <input type="text" name="nomEquipo" id="nomEquipo" maxlength="10"><span class="barra"></span>

            <button>Agregar Equipo</button>
            <button>Administrar Equipo</button>

        </div>
        <div class="item-torneo container-tablas">
            
                <table id="miTabla">
                    <thead>
                        <tr>
                            <th>Equipos</th>
                            <th>PTS</th>
                            <th>GA</th>
                            <th>GC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                      
                    </tbody>
                </table>
        
        
                <table class="tabla2">
                    <thead>
                        <tr>
                            <th  class="tabla2"></th> 
                            <th class="tabla2" colspan="2">Fecha</th>
                            <th class="tabla2"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>
                                <div class="cell-container" id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container" id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cell-container" id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container" id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cell-container" id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container" id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cell-container" id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container" id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cell-container" id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container" id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cell-container" id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container" id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cell-container" id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container">
                                    <div    ></div>
                                </div>
                            </td>
                            <td>
                                <div class="cell-container"  id="primera-ultima">
                                    <div    ></div>
                                </div>
                            </td>
                        </tr>
        
                        
                    </tbody>
                </table>
            
        </div>
    </div>






</body>

</html>